extends layout

block content
  div#btcCalls.container_main

  div#btcPuts.container_main

  div#ethCalls.container_main

  div#ethPuts.container_main

  div#btcAtm7.container_main

  div#btcAtm30.container_main

  div#ethAtm7.container_main

  div#ethAtm30.container_main
